<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favourit Books</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" 
    crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Welcome {{request.session.username}}!</h1>
        <a href="/logout">Logout</a>
    </header>
    <main>
        {% if the_book.uploaded_by.id == request.session.userid %}
            <div class="left_bookinfo">
                <form action="/books/{{the_book.id}}/update" method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" value="{{the_book.title}}" name="title">
                    </div>
                    <p>Added by: {{the_book.uploaded_by.first_name}} {{the_book.uploaded_by.last_name}}</p>
                    <p>Added on: {{the_book.created_at}}</p>
                    <p>Last updated on: {{the_book.updated_at}}</p>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Description</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description">{{the_book.desc}}</textarea>
                    </div>
                    <input type="submit" value="update">
                </form>
                <a href="/books/{{the_book.id}}/delete">Delete</a>
            </div>  

            <div class="right_userswholike">
                <p>Users Who Like This Book:</p>
                <ul>
                    {% for user in users_list_liked_the_book %}
                        <li>{{user.first_name}} {{user.last_name}}
                        {% if user.id == request.session.userid %}
                            <a href="/books/{{the_book.id}}/unfav_book"> Un-Favourite</a>
                        {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>

        {% else %}
            <div class="left_bookinfo">
                <h2>{{the_book.title}}</h2>
                <p>Added by: {{the_book.uploaded_by.first_name}} {{the_book.uploaded_by.last_name}}</p>
                <p>Added on: {{the_book.created_at}}</p>
                <p>Last updated on: {{the_book.updated_at}}</p>
                <p>Description: {{the_book.desc}}</p>
            </div>

            <div class="right_userswholike">
                <p>Users Who Like This Book:</p>
                <ul>
                    {% for user in users_list_liked_the_book %}
                        <li>{{user.first_name}} {{user.last_name}}</li>
                    {% endfor %}
                </ul>
                {% if the_book in liked_books_by_user %}
                    <a href="/books/{{the_book.id}}/unfav_book">Remove from Favourite</a>
                {% else %}
                    <a href="/books/{{the_book.id}}/add_to_fav">Add to Favourite</a>
                {% endif %}
            </div>
        {% endif %}

    </main>

    
</body>
</html>