
.main{
    width: 500px;
    margin: 40px auto;
    padding: 30px;
    border: 3px solid grey;
    border-radius: 7px 7px 7px 7px;
}

.btn-primary {
    text-align: center;
    width: 400px;
    height: 60px;
    font-size: 30px;
}

.btn1, .btn2, .times, h1{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.times {
    font-size: 30px;
}