<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Wall</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" 
    crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header>
        <h1>CodingDojo Wall</h1>
        <h1>Welcome {{request.session.username}}!</h1>
        <a href="/logout">Logout</a>
    </header>
    <main>
        <form action="/wall/post_message" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Post a message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="message"></textarea>
            </div>
            <input type="submit" value="Post a message">
        </form>



            {% for message in all_the_messages reversed %}
                <p>{{messgae.user.first_name}} {{message.user.last_name}} - {{message.created_at}} </p>
                <p>{{message.message}}</p>
                <ul>
                    {% for comment in all_the_comments %}
                    {% if comment.message.id == message.id %}
                        <p>{{comment.user.first_name}} {{comment.user.last_name}} - {{comment.created_at}}</p>
                        <p>{{comment.comment}}</p>
                    {% endif %}
                    {% endfor %}
                <form action="/wall/post_comment" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="hidden" name="messageid" value="{{message.id}}">
                        <label for="exampleFormControlTextarea1">Post a comment</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="comment"></textarea>
                    </div>
                    <input type="submit" value="Post a comment">
                </form>
            {% endfor %}
    </main>
</body>
</html>